<!DOCTYPE html>
<html>
<head>
  <title>Lampwriter</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
</head>

<body>
<div class="m-pikabu-viewport">
  <div class="m-pikabu-sidebar m-pikabu-left">
    <!-- left sidebar content -->
    <h3>Lampwriter</h3>
    <div class="side-navigation">
      <% if user_signed_in? %> 
      <%= link_to "Read", "#/notes"  %><br>
      <%= link_to "Write", "#/notes/new"  %><br>
      <%= link_to "Account", "#/users/#{current_user.id}" %><br>
      <%= link_to "Leave", destroy_user_session_path, :method => :delete %><br>
      <% end %>
    </div>
  </div>

  <div class="m-pikabu-container">
    <% if user_signed_in? %> 
      <div class="container">
        <div class="row">
          <div class="col-sm-1">
            <span id="menu-toggle"><span class="glyphicon glyphicon-cog"></span></span>
          </div>
        </div>
      </div>
    <% end %>
    <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
    <%= yield %>
    <br><br><br><br>
    <div class="text-center"><span id="snow-toggle"><span class="glyphicon glyphicon-flash"></span></span></div>
  </div>
</div>
<canvas id="canvas"></canvas>
</body>
</html>
